<div>
    <span class="badge badge-out-of-stock"
        {% if config('SschreierBadgeNavigationProductDetailPage.config.OosBadgeBackgroundColorConfiguration') or config('SschreierBadgeNavigationProductDetailPage.config.OosBadgeFontColorConfiguration') %}style="{% if config('SschreierBadgeNavigationProductDetailPage.config.OosBadgeBackgroundColorConfiguration') %}background-color: {{ config('SschreierBadgeNavigationProductDetailPage.config.OosBadgeBackgroundColorConfiguration') }};{% endif %}{% if config('SschreierBadgeNavigationProductDetailPage.config.OosBadgeFontColorConfiguration') %}color: {{ config('SschreierBadgeNavigationProductDetailPage.config.OosBadgeFontColorConfiguration') }};{% endif %}"{% endif %}>
        {% block page_product_detail_buy_container_inner_out_of_stock_badge %}
            {{ "sschreier.badgenavigationproductdetailpage.badgeOutOfStockText"|trans }}
        {% endblock %}
    </span>
</div>
