<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>discount badge</title>
        <title lang="de-DE">Rabatt - Badge</title>

        <input-field type="bool">
            <name>ShowDiscountBadgeInCategoryLists</name>
            <label>show in the category lists</label>
            <label lang="de-DE">in den Kategorielisten anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>ShowDiscountBadgeOnProductDetailPage</name>
            <label>show on the product detail page</label>
            <label lang="de-DE">auf der Produkt-Detailseite anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <card>
        <title>topseller badge</title>
        <title lang="de-DE">Tipp - Badge</title>

        <input-field type="bool">
            <name>ShowTopsellerBadgeInCategoryLists</name>
            <label>show in the category lists</label>
            <label lang="de-DE">in den Kategorielisten anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>ShowTopsellerBadgeOnProductDetailPage</name>
            <label>show on the product detail page</label>
            <label lang="de-DE">auf der Produkt-Detailseite anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <card>
        <title>new badge</title>
        <title lang="de-DE">Neu - Badge</title>

        <input-field type="bool">
            <name>ShowNewBadgeInCategoryLists</name>
            <label>show in the category lists</label>
            <label lang="de-DE">in den Kategorielisten anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>ShowNewBadgeOnProductDetailPage</name>
            <label>show on the product detail page</label>
            <label lang="de-DE">auf der Produkt-Detailseite anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <card>
        <title>out of stock badge</title>
        <title lang="de-DE">Ausverkauft - Badge</title>

        <input-field type="bool">
            <name>ShowOosBadgeInCategoryLists</name>
            <label>show in the category lists</label>
            <label lang="de-DE">in den Kategorielisten anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>ShowOosBadgeOnProductDetailPage</name>
            <label>show on the product detail page</label>
            <label lang="de-DE">auf der Produkt-Detailseite anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="colorpicker">
            <name>OosBadgeBackgroundColorConfiguration</name>
            <label>background color of the badge</label>
            <label lang="de-DE">Hintergrundfarbe des Badges</label>
            <defaultValue>#e52427</defaultValue>
            <placeholder>#e52427</placeholder>
        </input-field>

        <input-field type="colorpicker">
            <name>OosBadgeFontColorConfiguration</name>
            <label>font color of the badge</label>
            <label lang="de-DE">Schriftfarbe des Badges</label>
            <defaultValue>#ffffff</defaultValue>
            <placeholder>#ffffff</placeholder>
        </input-field>

        <component name="sw-snippet-field">
            <name>OosBadgeSnippet</name>
            <label>content from the snippet</label>
            <label lang="de-DE">Inhalt aus dem Textbaustein</label>
            <snippet>sschreier.badgenavigationproductdetailpage.badgeOutOfStockText</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>
    </card>

    <card>
        <title>Custom badge 1</title>
        <title lang="de-DE">Eigenes Badge 1</title>

        <input-field type="bool">
            <name>ShowBadgeInCategoryLists</name>
            <label>show in the category lists</label>
            <label lang="de-DE">in den Kategorielisten anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>ShowBadgeOnProductDetailPage</name>
            <label>show on the product detail page</label>
            <label lang="de-DE">auf der Produkt-Detailseite anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>SetBadgeColorsViaConfiguration</name>
            <label>set the colors of the badge via configuration</label>
            <label lang="de-DE">Farben des Badges über die Konfiguration festlegen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="colorpicker">
            <name>BadgeBackgroundColorConfiguration</name>
            <label>background color of the badge</label>
            <label lang="de-DE">Hintergrundfarbe des Badges</label>
            <defaultValue>#0b539b</defaultValue>
            <placeholder>#0b539b</placeholder>
        </input-field>

        <input-field type="colorpicker">
            <name>BadgeFontColorConfiguration</name>
            <label>font color of the badge</label>
            <label lang="de-DE">Schriftfarbe des Badges</label>
            <defaultValue>#ffffff</defaultValue>
            <placeholder>#ffffff</placeholder>
        </input-field>
    </card>

    <card>
        <title>Custom badge 2</title>
        <title lang="de-DE">Eigenes Badge 2</title>

        <input-field type="bool">
            <name>ShowBadge2InCategoryLists</name>
            <label>show in the category lists</label>
            <label lang="de-DE">in den Kategorielisten anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>ShowBadge2OnProductDetailPage</name>
            <label>show on the product detail page</label>
            <label lang="de-DE">auf der Produkt-Detailseite anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>SetBadge2ColorsViaConfiguration</name>
            <label>set the colors of the badge via configuration</label>
            <label lang="de-DE">Farben des Badges über die Konfiguration festlegen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="colorpicker">
            <name>Badge2BackgroundColorConfiguration</name>
            <label>background color of the badge</label>
            <label lang="de-DE">Hintergrundfarbe des Badges</label>
            <defaultValue>#0b539b</defaultValue>
            <placeholder>#0b539b</placeholder>
        </input-field>

        <input-field type="colorpicker">
            <name>Badge2FontColorConfiguration</name>
            <label>font color of the badge</label>
            <label lang="de-DE">Schriftfarbe des Badges</label>
            <defaultValue>#ffffff</defaultValue>
            <placeholder>#ffffff</placeholder>
        </input-field>
    </card>

    <card>
        <title>Custom badge 3</title>
        <title lang="de-DE">Eigenes Badge 3</title>

        <input-field type="bool">
            <name>ShowBadge3InCategoryLists</name>
            <label>show in the category lists</label>
            <label lang="de-DE">in den Kategorielisten anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>ShowBadge3OnProductDetailPage</name>
            <label>show on the product detail page</label>
            <label lang="de-DE">auf der Produkt-Detailseite anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>SetBadge3ColorsViaConfiguration</name>
            <label>set the colors of the badge via configuration</label>
            <label lang="de-DE">Farben des Badges über die Konfiguration festlegen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="colorpicker">
            <name>Badge3BackgroundColorConfiguration</name>
            <label>background color of the badge</label>
            <label lang="de-DE">Hintergrundfarbe des Badges</label>
            <defaultValue>#0b539b</defaultValue>
            <placeholder>#0b539b</placeholder>
        </input-field>

        <input-field type="colorpicker">
            <name>Badge3FontColorConfiguration</name>
            <label>font color of the badge</label>
            <label lang="de-DE">Schriftfarbe des Badges</label>
            <defaultValue>#ffffff</defaultValue>
            <placeholder>#ffffff</placeholder>
        </input-field>
    </card>

    <card>
        <title>Custom badge 4</title>
        <title lang="de-DE">Eigenes Badge 4</title>

        <input-field type="bool">
            <name>ShowBadge4InCategoryLists</name>
            <label>show in the category lists</label>
            <label lang="de-DE">in den Kategorielisten anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>ShowBadge4OnProductDetailPage</name>
            <label>show on the product detail page</label>
            <label lang="de-DE">auf der Produkt-Detailseite anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>SetBadge4ColorsViaConfiguration</name>
            <label>set the colors of the badge via configuration</label>
            <label lang="de-DE">Farben des Badges über die Konfiguration festlegen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="colorpicker">
            <name>Badge4BackgroundColorConfiguration</name>
            <label>background color of the badge</label>
            <label lang="de-DE">Hintergrundfarbe des Badges</label>
            <defaultValue>#0b539b</defaultValue>
            <placeholder>#0b539b</placeholder>
        </input-field>

        <input-field type="colorpicker">
            <name>Badge4FontColorConfiguration</name>
            <label>font color of the badge</label>
            <label lang="de-DE">Schriftfarbe des Badges</label>
            <defaultValue>#ffffff</defaultValue>
            <placeholder>#ffffff</placeholder>
        </input-field>
    </card>

    <card>
        <title>Custom badge 5</title>
        <title lang="de-DE">Eigenes Badge 5</title>

        <input-field type="bool">
            <name>ShowBadge5InCategoryLists</name>
            <label>show in the category lists</label>
            <label lang="de-DE">in den Kategorielisten anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>ShowBadge5OnProductDetailPage</name>
            <label>show on the product detail page</label>
            <label lang="de-DE">auf der Produkt-Detailseite anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>SetBadge5ColorsViaConfiguration</name>
            <label>set the colors of the badge via configuration</label>
            <label lang="de-DE">Farben des Badges über die Konfiguration festlegen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="colorpicker">
            <name>Badge5BackgroundColorConfiguration</name>
            <label>background color of the badge</label>
            <label lang="de-DE">Hintergrundfarbe des Badges</label>
            <defaultValue>#0b539b</defaultValue>
            <placeholder>#0b539b</placeholder>
        </input-field>

        <input-field type="colorpicker">
            <name>Badge5FontColorConfiguration</name>
            <label>font color of the badge</label>
            <label lang="de-DE">Schriftfarbe des Badges</label>
            <defaultValue>#ffffff</defaultValue>
            <placeholder>#ffffff</placeholder>
        </input-field>
    </card>
</config>
