.product-badges-detail {
    position: absolute;

    .badge {
        padding: 0 8px;
        height: 32px;
        margin: 0 0 8px;
        line-height: 32px;
        font-weight: 700;
        color: #fff;
        border-radius: 0 3px 3px 0;
        border-color: transparent;
        font-size: 18px;
        letter-spacing: 0;
    }

    .bg-out-of-stock {
        color: #fff;
        background-color: $sw-color-danger;
    }

    .bg-custom {
        color: #fff;
        background-color: $sw-color-brand-primary;
    }
}

.product-badges {
    .bg-out-of-stock {
        color: #fff;
        background-color: $sw-color-danger;
    }

    .bg-custom {
        color: #fff;
        background-color: $sw-color-brand-primary;
    }
}
